@import '~materialize-css/sass/materialize.scss';

$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';

body {
  color: #3a3a3a
}

.app {
  min-height: 100vh;
  background-color: #fafafa;
}

.card-action {
  display: flex;
  justify-content: flex-start;
}

@media #{$large-and-up} {

}
/* label focus color */
.input-field input:focus + label {
  color: #f57f17 !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #f57f17 !important;
  box-shadow: 0 1px 0 0 #f57f17 !important;
}
